 h1{
           color: hsla(240, 100%, 100%, .5); 
        }

        p{
            color: red;
        }

        body{
            background-color: dodgerblue;
        }

    .purple-text {
        color: rgb(0,0, 255, .5);
    }
    .important{
        font-weight: bold;
    }
    #lead-paragraph{
     color: purple;   
     font-weight: bold;
    }

    .important:hover{
        background-color: #0000FF;
    }

    a[href="https://imagecomics.com/"] {
        background-color:orange;
        padding: 1rem; 
    }

    a[href="http://storm.wnba.com/"] {
        background-color: blue;
    }

    h1{
        color: red;
        border-style: solid;
        border-width: 1px;
        border-color: red;
    }

    p.important {
        width: 75%;
    }   

    img {
        
        width: 35%;
        height: auto;
    }

    p {color: blue;}
    .purple-text {color: purple;}
    p {color: orange;}
